.grid_container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
  column-gap: 10px;
}.grid_container_1fr {
  composes: grid_container;
  grid-template-columns: 1fr;
}

.students_list_container {
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.324);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px 10px;
}

.students_list_container h2 {
  color: var(--dark-secondary-color);
}

.add_student_container {
  background-color: var(--primary-color);
  composes: students_list_container;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.add_student_container h3 {
  font-size: 26px;
  color: var(--dark-secondary-color);
}

.add_student_container p {
  font-size: 15px;
  color: var(--secondary-color);
}

.add_student_container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.add_student_form label {
  color: orange;
  text-shadow: none;
}

.add_student_form input {
  border-color: orange;
  color: var(--secondary-color);
} .add_student_form input:focus {
  border-color: rgb(255, 206, 116);
} .add_student_form input::placeholder {
  color: rgba(128, 128, 128, 0.457);
  text-shadow: none;
}

.title_switch_show_form_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.title_switch_show_form_container svg {
  color: var(--dark-secondary-color);
  font-size: 28px;
  padding: 4px;
  cursor: pointer;
  transition: 0.25s;
} .title_switch_show_form_container svg:hover {
  background-color: rgba(135, 207, 235, 0.196);
  border-radius: 25%;
}

.registered_students_today_container {
  display: grid;
  grid-template-rows: 1fr 100px;
  row-gap: 10px;
}

.registered_students_today_container div {
  background-color: var(--primary-color);
}

.search_filter_container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.search_filter_container .search {
  flex: 3;
}

.search_filter_container .add_student {
  flex: 1.25;
}

.search_filter_container .filter {
  flex: 1;
}

.students_list {
  background-color: white;
  height: 56.5vh;
  width: 100%;
  border-radius: 13px;
  padding: 8px;
  box-shadow: inset 0px 0px 3px rgba(86, 83, 83, 0.416);
}

@media (min-height: 600px) {
  .students_list { height: 60.5vh; }
} @media (min-height: 700px) {
  .students_list { height: 65vh; }
} @media (min-height: 740px) {
  .students_list { height: 67vh; }
} @media (min-height: 800px) {
  .students_list { height: 70.5vh; }
} @media (min-height: 1100px) {
  .students_list { height: 77.5vh; }
} @media (min-height: 1600px) {
  .students_list { height: 84.5vh; }
} @media (min-height: 2200px) {
  .students_list { height: 88.5vh; }
} 

.students_list .overflow_container {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  gap: 9px;
  height: 100%;
  overflow-y: auto;
  padding: 1px;
  padding-right: 7px;
}

.overflow_container::-webkit-scrollbar {
  width: 6px;
} .overflow_container::-webkit-scrollbar-track {
  background: transparent;
} .overflow_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secondary-color);
} .overflow_container::-webkit-scrollbar-thumb:hover {
  background: var(--dark-secondary-color);
}

.students_list .student {
  box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.507);
  border-radius: 10px;
  padding: 8px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.student .left_container {
  display: flex;
  flex-direction: column;
}

.student .left_container .name {
  color: orange;
  font-weight: 600;
  margin-bottom: 3px;
}

.student .left_container .ra, 
.student .left_container .email, 
.student .left_container .register_data {
  font-size: 13px;
  color: var(--dark-secondary-color);
} .student .left_container .ra span, 
.student .left_container .email span, 
.student .left_container .register_data span {
  color: var(--secondary-color);
  filter: brightness(0.9);
}

.student .right_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.registered_students_today { 
  composes: students_list_container;
  padding: 10px;
}

.registered_students_today h3,
.registered_students_count h3 {
  color: var(--dark-secondary-color );
}

.registered_students_today .registered_students_today_list {
  height: calc(45vh + .5vh);
  width: 100%;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 3px rgba(128, 128, 128, 0.42);
}

@media (min-height: 600px) {
  .registered_students_today .registered_students_today_list { height: calc(47vh + 3vh); }
} @media (min-height: 700px) {
  .registered_students_today .registered_students_today_list { height: calc(50vh + 6vh); }
} @media (min-height: 740px) {
  .registered_students_today .registered_students_today_list { height: calc(52vh + 7vh); }
} @media (min-height: 800px) {
  .registered_students_today .registered_students_today_list { height: calc(54vh + 9vh); }
} @media (min-height: 1100px) {
  .registered_students_today .registered_students_today_list { height: calc(60vh + 13vh); }
} @media (min-height: 1600px) {
  .registered_students_today .registered_students_today_list { height: calc(65.5vh + 16vh); }
} @media (min-height: 2200px) {
  .registered_students_today .registered_students_today_list { height: calc(67.5vh + 18vh); }
} 

.registered_students_today_list .overflow_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 11px;
  background-color: transparent;
  padding: 3px;
  padding-right: 6px;
  overflow-y: auto;
}

.student_registered_today .student {
  padding: 5px;
  box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.452);
  border-radius: 7px;
}

.student_registered_today .student .name {
  font-size: 15px;
}

.student_registered_today .student span.ra,
.student_registered_today .student span.email {
  font-size: 10px;
}

.registered_students_count {
  composes: students_list_container;
}

div.statistics_cards_container {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.statistics_cards_container .statistic_card {
  flex: 1;
  height: 100%;
  display: flex;
  padding-left: 10px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.383);
}

.statistics_cards_container .statistic_card div {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.statistics_cards_container .statistic_card div label {
  color: var(--dark-secondary-color);
}

.statistics_cards_container .statistic_card div span {
  color: orange;
  font-weight: 700;
}

.register_student_submit_button_infos_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

div.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}




