.header_nav_bar {
  background-color: var(--dark-secondary-color);
  padding: 10px;
  box-shadow: 0px 1px 4px rgba(128, 128, 128, 0.197);
  border-top: 3px solid var(--tertiary-color);
  border-bottom: 3px solid var(--tertiary-color);
}

.header_nav_bar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 30px;
}


.header_nav_bar li {
  margin-left: 30px;
}

.header_nav_bar .system_name {
  flex: 1;
  margin-left: 0px;
  color: var(--primary-color);
  text-shadow: 0px 0px 3px gray;
  font-size: 20px;
}

.layout_container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 175px 1fr;
}

.logout {
  display: flex;
  gap: 5px;
  padding: 5px;
  color: red;
  font-weight: 500;
  cursor: pointer;
  margin-top: auto;
  justify-content: center;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  transition: 0.25s;
} .logout:hover {
  background-color: rgba(255, 59, 59, 0.05);
  color: rgb(255, 110, 110);
} .logout:active {
  background-color: transparent;
}

.student_name,
.student_ra {
  color: var(--primary-color);
  text-shadow: 0px 0px 3px gray;
}.student_name span,
.student_ra span {
  color: var(--tertiary-color);
}

aside {
  background-color: var(--primary-color);
  box-shadow: 2px 0px 2px rgba(128, 128, 128, 0.2);
  border-right: 2px solid var(--tertiary-color);
  padding: 15px;
  display: flex;
}

aside ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

aside a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--dark-secondary-color);
  gap: 10px;
  padding: 5px;
  border-radius: 8px;
  transition: 0.25s;
} aside a:hover {
  color: var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.306);
} aside a:active {
  color: var(--dark-secondary-color);
}

aside a.selected_tab {
  color: var(--secondary-color);
}

aside nav {
  display: flex;
}

footer {
  background-color: var(--dark-secondary-color);
  border-top: 2px solid var(--tertiary-color);
  border-bottom: 2px solid var(--tertiary-color);
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  text-align: center;
  color: var(--primary-color);
}
