/* FORM (STANDART) */

.input_container {
  display: flex;
  flex-direction: column;
}

.input_container label {
  color: var(--tertiary-color);
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(173, 173, 173);
}

.input_container input {
  background-color: transparent;
  border: none;
  flex: 1;
  color: var(--primary-color);
  padding: 5px 0px;
  border-bottom: 2px solid var(--tertiary-color);
  transition: 0.25s;
} .input_container .input_error {
  border-bottom-color: rgb(255, 1, 1); 
}

.input_container input:focus {
  outline: none;
  border-color: var(--primary-color);
} .input_container .input_error:focus {
  border-bottom-color: rgb(255, 1, 1); 
}

.input_container input:-webkit-autofill,
.input_container input:-webkit-autofill:hover,
.input_container input:-webkit-autofill:focus,
.input_container input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: var(--primary-color);
  transition: background-color 9999s ease-in-out 0s;
}

.input_container input::placeholder {
  color: var(--primary-color);
  text-shadow: 0px 0px 2px rgba(128, 128, 128, 0.614);
} 

/* PASSWORD */

.password_input_container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--tertiary-color);
} .password_input_container input {
  border: none;
} .password_input_container button {
  background-color: transparent;
  border-radius: 8px;
  border: none;
  color: var(--tertiary-color);
  font-size: 20px;
  padding: 3px 6px;
  transition: 0.25s;
  cursor: pointer;
  display: flex;
} .password_input_container button:hover {
  background-color: rgba(255, 255, 255, 0.167);
} .password_input_container button:active {
  background-color: transparent;
}

/* SEARCH */

.search_input_container {
  border: 1px solid var(--secondary-color);
  padding: 0px 8px 0px 11px;
  gap: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: white;
} .search_input_container svg {
  color: var(--dark-secondary-color);
}.search_input_container:focus-within {
  background-color: rgb(248, 248, 248);
}

.search_input_container input {
  background-color: transparent;
}

.clear_search {
  padding: 2.5px;
  font-size: 20px;
  cursor: pointer;
}.clear_search:hover {
  background-color: rgba(135, 207, 235, 0.153);
  border-radius: 50%;
}

.search_input_container input {
  border: none;
  flex: 1;
  padding: 5px 0px;
}.search_input_container input:focus {
  outline: none;
}.search_input_container input::placeholder {
  color: var(--dark-secondary-color);
}