.border_base_style {
  border: none;
  padding: 5px 8px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
} .border_base_style:hover {
  filter: brightness(1.1);
} .border_base_style:active {
  filter: brightness(1);
}

.MD_border {
  border-radius: 8px;
  composes: border_base_style;

}

.XL_border {
  border-radius: 20px;
  composes: border_base_style;
}

.primary_color {  
  color: var(--dark-secondary-color);
  background-color: var(--primary-color);
}

.secondary_color {
  color: orange;
  background-color: var(--tertiary-color);
}

.filled_primary_color {
  color: var(--tertiary-color);
  background-color: orange;
}

.filled_secondary_color {
  color: var(--primary-color) ;
  background-color: var(--dark-secondary-color);
}
